[package]
authors = ["Jonathan Morley <morley.jonathan@gmail.com>"]
description = "Generates temporary AWS credentials with Okta."
edition = "2021"
name = "oktaws"
version = "0.16.0"
license = "Apache-2.0"
repository = "https://github.com/jonathanmorley/oktaws"
keywords = ["okta", "aws", "saml"]
categories = [
  "command-line-utilities",
  "authentication"
]

[dependencies]
anyhow = "1"
async-recursion = "1"
aws-arn = "0.2"
aws-sdk-sts = "0.10"
aws-sdk-iam = "0.9"
aws-types = { version = "0.9", features = ["hardcoded-credentials"] }
backoff = { version = "0.4", features = ["tokio"] }
base64 = "0.13"
clap = { version = "3", features = ["derive"] }
clap-verbosity-flag = "1"
dialoguer = "0.10"
dirs = "4"
futures = "0.3"
glob = "0.3"
itertools = "0.10"
keyring = "1"
kuchiki = "0.8"
path_abs = "0.5"
regex = "1"
reqwest = { version = "0.11", default_features = false, features = ["cookies", "json", "rustls-tls"] }
rust-ini = "0.18.0"
samuel = "0.1"
serde = { version = "1", features = ["derive"] }
thiserror = "1"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
toml = "0.5"
tracing = "0.1"
tracing-log = "0.1"
tracing-subscriber = "0.3"
tracing-tree = { git = "https://github.com/jonathanmorley/tracing-tree", branch = "remove-newlines" }
url = { version = "2", features = ["serde"] }
username = "0.2"

[dev-dependencies]
aws-smithy-client = { version = "0.39", features = ["test-util"] }
aws-smithy-http = "0.39"
http = "0.2"
serial_test = "0.6"
tempfile = "3"
tokio-test = "0.4"
