[package]
name = "oktaws"
version = "0.11.1"
authors = ["Jonathan Morley <morley.jonathan@gmail.com>"]
description = "Generates temporary AWS credentials with Okta."
edition = "2018"

[dependencies]
reqwest = { version = "0.11", features = ["blocking", "json"] }
serde = "1"
serde_derive = "1"
serde_str = "0.1"
serde_ini = "0.2"
toml = "0.5"
rusoto_core = "0.34"
rusoto_sts = "0.34"
rusoto_credential = "0.13"
base64 = "0.13"
structopt = "0.3"
structopt-derive = "0.4"
failure = "0.1"
log = "0.4"
keyring = "0.10"
username = "0.2"
dialoguer = "0.8"
sxd-document = "0.3"
sxd-xpath = "0.4"
kuchiki = "0.8"
regex = "1"
path_abs = "0.5"
glob = "0.3"
walkdir = "2"
rayon = "1"
pretty_env_logger = "0.4"
dirs = "3"
itertools = "0.10"

[target.'cfg(windows)'.dependencies]
rpassword = "5"

[target.'cfg(linux)'.dependencies]
openssl = { version = '0.10', features = ["vendored"] }

[dev-dependencies]
tempfile = "3"
