[package]
authors = ["Jonathan Morley <morley.jonathan@gmail.com>"]
description = "Generates temporary AWS credentials with Okta."
edition = "2021"
name = "oktaws"
version = "0.15.3"

[dependencies]
anyhow = "1"
async-recursion = "*"
base64 = "0.13"
dialoguer = "0.9"
dirs = "4"
futures = "0.3"
glob = "0.3"
itertools = "0.10"
keyring = "1"
kuchiki = "0.8"
log = "0.4"
path_abs = "0.5"
regex = "1"
samuel = "0.1"
serde_ini = "0.2"
thiserror = "*"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
username = "0.2"
walkdir = "2"

[dependencies.backoff]
features = ["tokio"]
version = "*"

[dependencies.indexmap]
features = ["serde-1"]
version = "1.0"

[dependencies.reqwest]
default_features = false
features = ["cookies", "json", "rustls-tls"]
version = "0.11"

[dependencies.rusoto_core]
default_features = false
features = ["rustls", "rustls-webpki"]
version = "0.47"

[dependencies.rusoto_credential]
version = "0.47"

[dependencies.rusoto_iam]
default_features = false
features = ["rustls"]
version = "0.47"

[dependencies.rusoto_sts]
default_features = false
features = ["rustls"]
version = "0.47"

[dependencies.serde]
features = ["derive"]
version = "1"

[dependencies.structopt]
features = ["paw"]
version = "0.3"

[dependencies.tokio]
features = ["full"]
version = "1"

[dependencies.toml]
version = "0.5.8"

[dependencies.url]
features = ["serde"]
version = "2.1"

[dev-dependencies]
serial_test = "0.5"
tempfile = "3"
