name: Publish

on:
  release:
    types: [created]

env:
  RUST_LOG: info
  RUST_BACKTRACE: 1

jobs:
  publish_github:
    name: Publish to GitHub Releases
    strategy:
      matrix:
        target:
          # Rustc's Tier 1 platforms
          # https://doc.rust-lang.org/nightly/rustc/platform-support.html#tier-1-with-host-tools
          - aarch64-unknown-linux-gnu
          # Windows gnu is not currently working
          # - i686-pc-windows-gnu
          - i686-pc-windows-msvc
          - i686-unknown-linux-gnu
          - x86_64-apple-darwin
          # Windows gnu is not currently working
          # - x86_64-pc-windows-gnu
          - x86_64-pc-windows-msvc
          - x86_64-unknown-linux-gnu
          # Select tier 2 platforms
          # https://doc.rust-lang.org/nightly/rustc/platform-support.html#tier-2-with-host-tools
          - aarch64-apple-darwin
          - aarch64-pc-windows-msvc
          - aarch64-unknown-linux-musl
          - x86_64-unknown-linux-musl
        # Testability according to cross
        # https://github.com/rust-embedded/cross#supported-targets
        include:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
          # - target: i686-pc-windows-gnu
          #   os: windows-latest
          - target: i686-pc-windows-msvc
            os: windows-latest
          - target: i686-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          # - target: x86_64-pc-windows-gnu
          #   os: windows-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: aarch64-pc-windows-msvc
            os: windows-latest
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          profile: minimal
      - name: Archive Release
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: sample-rust-cli
          target: ${{ matrix.target }}
        env:
          # (required) GitHub token for creating GitHub Releases.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}