name: PR Verification

on:
  pull_request:
    branches: [master]

jobs:
  cargo:
    strategy:
      matrix:
        runner:
          - windows-latest    # x86_64-windows
          # - windows-11-arm    # aarch64-windows
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Test
        run: cargo test --all-targets --all-features
  nix:
    strategy:
      matrix:
        runner:
          - ubuntu-latest     # x86_64-linux
          - macos-15-intel    # x86_64-darwin
          - macos-latest      # aarch64-darwin
          - ubuntu-24.04-arm  # aarch64-linux
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12
        if: matrix.runner != 'macos-15-intel'
      - uses: DeterminateSystems/nix-installer-action@v17
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
      - name: Check
        run: nix flake check --print-build-logs --no-update-lock-file
      - name: Build
        run: nix build --print-build-logs
  verify:
    needs: [cargo, nix]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Verified!"